<p>
  <strong>Profile Name:</strong>
  <%= @post.profilename %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @post.designation %>
</p>
<p>
  <strong>Department:</strong>
  <%= @post.department %>
</p>

<p>
  <strong>University:</strong>
  <%= @post.university %>
</p>
<p>
  Post a new job
  <%= link_to 'post a new job' , new_job_path%>
</p>